file_json/pipeline/generate_raw_metadata.json
{
	"name": "generate_raw_metadata",
	"properties": {
		"activities": [
			{
				"name": "raw_source",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/KEYRUS/@{pipeline().parameters.env}/gov/catalog/infer/generate_infer_source",
						"type": "Expression"
					},
					"baseParameters": {
						"env": {
							"value": "@pipeline().parameters.env.env",
							"type": "Expression"
						},
						"source_name": "raw",
						"source_type": "bigdata"
					}
				},
				"linkedServiceName": {
					"referenceName": "cnigovdatabricks",
					"type": "LinkedServiceReference",
					"parameters": {
						"workspace_url": {
							"value": "@variables('databricks_workspace_url')",
							"type": "Expression"
						},
						"workspace_id": {
							"value": "@variables('databricks_workspace_id')",
							"type": "Expression"
						},
						"existing_cluster_id": {
							"value": "@variables('databricks_cluster')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "raw_schema",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/KEYRUS/@{pipeline().parameters.env}/gov/catalog/infer/generate_infer_schema",
						"type": "Expression"
					},
					"baseParameters": {
						"env": {
							"value": "@pipeline().parameters.env.env",
							"type": "Expression"
						},
						"source_name": "raw",
						"source_type": "bigdata"
					}
				},
				"linkedServiceName": {
					"referenceName": "cnigovdatabricks",
					"type": "LinkedServiceReference",
					"parameters": {
						"workspace_url": {
							"value": "@variables('databricks_workspace_url')",
							"type": "Expression"
						},
						"workspace_id": {
							"value": "@variables('databricks_workspace_id')",
							"type": "Expression"
						},
						"existing_cluster_id": {
							"value": "@variables('databricks_cluster')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "raw_field",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/KEYRUS/@{pipeline().parameters.env}/gov/catalog/infer/generate_infer_field",
						"type": "Expression"
					},
					"baseParameters": {
						"env": {
							"value": "@pipeline().parameters.env.env",
							"type": "Expression"
						},
						"source_name": "raw",
						"source_type": "bigdata"
					}
				},
				"linkedServiceName": {
					"referenceName": "cnigovdatabricks",
					"type": "LinkedServiceReference",
					"parameters": {
						"workspace_url": {
							"value": "@variables('databricks_workspace_url')",
							"type": "Expression"
						},
						"workspace_id": {
							"value": "@variables('databricks_workspace_id')",
							"type": "Expression"
						},
						"existing_cluster_id": {
							"value": "@variables('databricks_cluster')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "raw_table",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/KEYRUS/@{pipeline().parameters.env}/gov/catalog/infer/generate_infer_table",
						"type": "Expression"
					},
					"baseParameters": {
						"env": {
							"value": "@pipeline().parameters.env.env",
							"type": "Expression"
						},
						"source_name": "raw",
						"source_type": "bigdata"
					}
				},
				"linkedServiceName": {
					"referenceName": "cnigovdatabricks",
					"type": "LinkedServiceReference",
					"parameters": {
						"workspace_url": {
							"value": "@variables('databricks_workspace_url')",
							"type": "Expression"
						},
						"workspace_id": {
							"value": "@variables('databricks_workspace_id')",
							"type": "Expression"
						},
						"existing_cluster_id": {
							"value": "@variables('databricks_cluster')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "finished_success",
				"description": "Finished with success",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "raw_source",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "raw_schema",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "raw_field",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "raw_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "set_databricks_workspace_url",
				"description": "Sets databricks workspace url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_adf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "databricks_workspace_url",
					"value": {
						"value": "@pipeline().globalParameters.databricks[json(variables('adf')).adf_factory_name][pipeline().parameters.env.env].workspace_url",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_databricks_workspace_id",
				"description": "Sets databricks workspace id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_adf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "databricks_workspace_id",
					"value": {
						"value": "@pipeline().globalParameters.databricks[json(variables('adf')).adf_factory_name][pipeline().parameters.env.env].workspace_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "start",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "set_databricks_workspace_url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_databricks_workspace_id",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_databricks_cluster_dev",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "set_databricks_cluster_dev",
				"description": "Sets databricks cluster to dev",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_adf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "databricks_cluster",
					"value": {
						"value": "@pipeline().globalParameters.databricks[json(variables('adf')).adf_factory_name][pipeline().parameters.env.env].existing_cluster_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_adf",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "adf",
					"value": {
						"value": "@string(coalesce(pipeline().parameters.adf,json(concat('{\"adf_factory_name\": \"', pipeline().DataFactory, '\", \"adf_pipeline_name\": \"', pipeline().Pipeline, '\", \"adf_pipeline_run_id\": \"', pipeline().RunId, '\",  \"adf_trigger_id\": \"', pipeline().TriggerId, '\", \"adf_trigger_name\": \"', pipeline().TriggerName, '\", \"adf_trigger_time\": \"', pipeline().TriggerTime, '\",  \"adf_trigger_type\": \"', pipeline().TriggerType, '\"}'))))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"env": {
				"type": "object",
				"defaultValue": {
					"env": "dev"
				}
			},
			"adf": {
				"type": "object"
			}
		},
		"variables": {
			"databricks_workspace_id": {
				"type": "String"
			},
			"databricks_workspace_url": {
				"type": "String"
			},
			"databricks_cluster": {
				"type": "String"
			},
			"adf": {
				"type": "String"
			}
		},
		"folder": {
			"name": "gov/infer_schema"
		},
		"annotations": []
	}
}