file_json/pipeline/import_uld_files_unigest__2__reject.json
{
	"name": "import_uld_files_unigest__2__reject",
	"properties": {
		"activities": [
			{
				"name": "1_for_each_file_reject",
				"description": "",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.return_databricks",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "1_archive_original_file_with_versioning",
							"description": "Copies the original files rejects from /uld folder to the correct corresponding structure in /rjt.\n\nStill missing the subfolder specification on sink and also on the logging settings here. They will be added after testing with databricks returned values to variables.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set_folder_source",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "set_file_path_sink",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": {
											"value": "@{pipeline().parameters.file.extension}",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"redirectIncompatibleRowSettings": {
									"linkedServiceName": {
										"referenceName": "cnibigdatadlsgen2stg",
										"type": "LinkedServiceReference"
									},
									"path": {
										"value": "@{pipeline().parameters.container}/@{pipeline().parameters.dls.folders.error}/@{pipeline().parameters.dls.sub_folders.uld}/@{pipeline().parameters.file.namespace}/@{pipeline().parameters.file.file_folder}",
										"type": "Expression"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adls_parameterized_uld_files_reject_source",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"url": {
											"value": "@pipeline().parameters.url",
											"type": "Expression"
										},
										"folder": {
											"value": "@variables('folder_source')",
											"type": "Expression"
										},
										"file": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_parameterized_uld_files_reject_sink_rjt",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"url": {
											"value": "@pipeline().parameters.url",
											"type": "Expression"
										},
										"file_path": {
											"value": "@variables('file_path_sink')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "1_delete_original_file_from_uld",
							"description": "Deletes the original files in /uld folder.",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "1_archive_original_file_with_versioning",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adls_parameterized_uld_files_reject_source",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"url": {
											"value": "@pipeline().parameters.url",
											"type": "Expression"
										},
										"folder": {
											"value": "@variables('folder_source')",
											"type": "Expression"
										},
										"file": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "cnibigdatadlsgen2stg",
										"type": "LinkedServiceReference"
									},
									"path": {
										"value": "@{pipeline().parameters.container}/@{pipeline().parameters.dls.folders.log}/@{pipeline().parameters.dls.folders.archive}/@{pipeline().parameters.file.namespace}/@{pipeline().parameters.file.file_folder}",
										"type": "Expression"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "set_folder_source",
							"description": "Sets folder_source",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "folder_source",
								"value": {
									"value": "@{pipeline().parameters.dls.folders.landing}/@{pipeline().parameters.file.namespace}/@{pipeline().parameters.file.file_folder}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set_file_path_sink",
							"description": "Sets file_path_sink",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_path_sink",
								"value": {
									"value": "@{pipeline().parameters.dls.folders.reject}/@{pipeline().parameters.dls.sub_folders.uld}/@{pipeline().parameters.file.namespace}/@{pipeline().parameters.file.file_folder}/@{pipeline().parameters.var_dh_insercao_raw}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file": {
				"type": "object"
			},
			"dls": {
				"type": "object"
			},
			"var_dh_insercao_raw": {
				"type": "string"
			},
			"adf": {
				"type": "object"
			},
			"return_databricks": {
				"type": "array"
			},
			"container": {
				"type": "string"
			},
			"url": {
				"type": "string"
			}
		},
		"variables": {
			"folder_source": {
				"type": "String"
			},
			"file_path_sink": {
				"type": "String"
			}
		},
		"folder": {
			"name": "templates/raw/uld"
		},
		"annotations": []
	}
}