file_json/pipeline/import_uld_files_unigest__3__archive.json
{
	"name": "import_uld_files_unigest__3__archive",
	"properties": {
		"description": "This seems to be a possible way to pass databricks' returned time of processing to the necessary functions, not attaching this to any activity name neither to a system variable.\n",
		"activities": [
			{
				"name": "1_archive_original_file_with_versioning",
				"description": "Copies the original file from /uld folder to the correct corresponding structure in /ach.\n\nStill missing the subfolder specification on sink and also on the logging settings here. They will be added after testing with databricks returned values to variables.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set_file_path_source",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_file_path_sink",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": {
								"value": "@{pipeline().parameters.file.extension}",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "cnibigdatadlsgen2stg",
							"type": "LinkedServiceReference"
						},
						"path": {
							"value": "@{pipeline().parameters.container}/@{pipeline().parameters.dls.folders.error}/@{pipeline().parameters.dls.sub_folders.uld}/@{pipeline().parameters.file.namespace}/@{pipeline().parameters.file.file_folder}",
							"type": "Expression"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "adls_parameterized_uld_files_accepted_source",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"url": {
								"value": "@pipeline().parameters.url",
								"type": "Expression"
							},
							"file_path": {
								"value": "@variables('file_path_source')",
								"type": "Expression"
							},
							"column_delimiter": {
								"value": "@pipeline().parameters.file.column_delimiter\n",
								"type": "Expression"
							},
							"encoding": {
								"value": "@pipeline().parameters.file.encoding",
								"type": "Expression"
							},
							"null_value": {
								"value": "@pipeline().parameters.file.null_value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_parameterized_uld_files_accepted_sink_ach",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"url": {
								"value": "@pipeline().parameters.url",
								"type": "Expression"
							},
							"file_path": {
								"value": "@variables('file_path_sink')",
								"type": "Expression"
							},
							"column_delimiter": {
								"value": "@pipeline().parameters.file.column_delimiter",
								"type": "Expression"
							},
							"encoding": {
								"value": "@pipeline().parameters.file.encoding",
								"type": "Expression"
							},
							"null_value": {
								"value": "@pipeline().parameters.file.null_value",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "1_delete_original_file_from_uld",
				"description": "Deletes the original files in /uld folder.",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "1_archive_original_file_with_versioning",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adls_parameterized_uld_files_type_text_source",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"url": {
								"value": "@pipeline().parameters.url",
								"type": "Expression"
							},
							"file_path": {
								"value": "@variables('file_path_source')",
								"type": "Expression"
							},
							"column_delimiter": {
								"value": "@pipeline().parameters.file.column_delimiter",
								"type": "Expression"
							},
							"encoding": {
								"value": "@pipeline().parameters.file.encoding",
								"type": "Expression"
							},
							"null_value": {
								"value": "@pipeline().parameters.file.null_value",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "cnibigdatadlsgen2",
							"type": "LinkedServiceReference",
							"parameters": {
								"url": {
									"value": "@pipeline().parameters.url",
									"type": "Expression"
								}
							}
						},
						"path": {
							"value": "@{pipeline().parameters.container}/@{pipeline().parameters.dls.folders.log}/@{pipeline().parameters.dls.folders.archive}/@{pipeline().parameters.file.namespace}/@{pipeline().parameters.file.file_folder}",
							"type": "Expression"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*"
					}
				}
			},
			{
				"name": "set_file_path_source",
				"description": "Sets filepath_source",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_path_source",
					"value": {
						"value": "@{pipeline().parameters.dls.folders.landing}/@{pipeline().parameters.file.namespace}/@{pipeline().parameters.file.file_folder}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_file_path_sink",
				"description": "Sets file_path_sink",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_path_sink",
					"value": {
						"value": "@{pipeline().parameters.dls.folders.archive}/@{pipeline().parameters.dls.sub_folders.uld}/@{pipeline().parameters.file.namespace}/@{pipeline().parameters.file.file_folder}/@{pipeline().parameters.var_dh_insercao_raw}\"",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"file": {
				"type": "object"
			},
			"dls": {
				"type": "object"
			},
			"var_dh_insercao_raw": {
				"type": "string"
			},
			"adf": {
				"type": "object"
			},
			"container": {
				"type": "string"
			},
			"url": {
				"type": "string"
			},
			"env": {
				"type": "object"
			}
		},
		"variables": {
			"file_path_source": {
				"type": "String"
			},
			"file_path_sink": {
				"type": "String"
			}
		},
		"folder": {
			"name": "templates/raw/uld"
		},
		"annotations": []
	}
}