file_json/pipeline/lnd_org_raw_rfb_cno.json
{
	"name": "lnd_org_raw_rfb_cno",
	"properties": {
		"activities": [
			{
				"name": "import_lnd__0__execute_crw",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "import_lnd__0__execute_crw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"bot": {
							"value": "@pipeline().parameters.bot",
							"type": "Expression"
						},
						"adf": {
							"value": "@json(concat('{\"adf_factory_name\": \"', pipeline().DataFactory, '\", \"adf_pipeline_name\": \"', pipeline().Pipeline, '\", \"adf_pipeline_run_id\": \"', pipeline().RunId, '\",  \"adf_trigger_id\": \"', pipeline().TriggerId, '\", \"adf_trigger_name\": \"', pipeline().TriggerName, '\", \"adf_trigger_time\": \"', pipeline().TriggerTime, '\",  \"adf_trigger_type\": \"', pipeline().TriggerType, '\"}'))",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().parameters.env",
							"type": "Expression"
						},
						"bot_params": {
							"value": "@pipeline().parameters.bot_params",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "alerta_falha",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "import_lnd__0__execute_crw",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "send_email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"email_users": {
							"value": "@array('monitoramento_observatorio@cni.com.br')",
							"type": "Expression"
						},
						"email_groups": {
							"value": "@array('')",
							"type": "Expression"
						},
						"adf": {
							"value": "@json(concat('{\"adf_factory_name\": \"', pipeline().DataFactory, '\", \"adf_pipeline_name\": \"', pipeline().Pipeline, '\", \"adf_pipeline_run_id\": \"', pipeline().RunId, '\",  \"adf_trigger_id\": \"', pipeline().TriggerId, '\", \"adf_trigger_name\": \"', pipeline().TriggerName, '\", \"adf_trigger_time\": \"', pipeline().TriggerTime, '\",  \"adf_trigger_type\": \"', pipeline().TriggerType, '\"}'))",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().parameters.env",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Falha",
				"description": "500",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "alerta_falha",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Falha",
					"errorCode": "500"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "import_lnd__0__execute_crw",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('import_lnd__0__execute_crw').output.pipelineReturnValue.return.return.status_execution.exit, 300)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "emit_execution_alert",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "send_email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"status": "succeeded",
									"email_users": {
										"value": "@array('monitoramento_observatorio@cni.com.br')",
										"type": "Expression"
									},
									"email_groups": {
										"value": "@array('')",
										"type": "Expression"
									},
									"adf": {
										"value": "@json(concat('{\"adf_factory_name\": \"', pipeline().DataFactory, '\", \"adf_pipeline_name\": \"', pipeline().Pipeline, '\", \"adf_pipeline_run_id\": \"', pipeline().RunId, '\",  \"adf_trigger_id\": \"', pipeline().TriggerId, '\", \"adf_trigger_name\": \"', pipeline().TriggerName, '\", \"adf_trigger_time\": \"', pipeline().TriggerTime, '\",  \"adf_trigger_type\": \"', pipeline().TriggerType, '\"}'))",
										"type": "Expression"
									},
									"env": {
										"value": "@pipeline().parameters.env",
										"type": "Expression"
									},
									"message": "no-new-file Pipeline executada com sucesso, porém não encontrou novos arquivos para download!"
								}
							}
						}
					]
				}
			},
			{
				"name": "return",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "return",
							"value": {
								"type": "Expression",
								"content": "@activity('import_lnd__0__execute_crw').output.pipelineReturnValue.return.return.status_execution.exit"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"bot": {
				"type": "string",
				"defaultValue": "org_raw_rfb_cno"
			},
			"env": {
				"type": "object",
				"defaultValue": {
					"env": "dev"
				}
			},
			"bot_params": {
				"type": "string",
				"defaultValue": {
					"location": "brazilsouth",
					"reload": "false",
					"reset": "false",
					"override": "false",
					"memory_in_gb": "8",
					"cpu": "4.0"
				}
			}
		},
		"folder": {
			"name": "lnd/crw/rfb_cno__cadastro_nacional_de_obras"
		},
		"annotations": [
			"landing",
			"crawler"
		]
	}
}