file_json/pipeline/mssqlserver_check_partition_keep_records.json
{
	"name": "mssqlserver_check_partition_keep_records",
	"properties": {
		"description": "This step implements a verification, for sources of type MSSQLServer, here we verify, for incremental loads, if the the count of records just considering the range for control_column is the same as after applying partitioning. If not, then we must raise an error. \n\nAs it is implemented inside the for_each loop, \"table\" might be downstreammed as \"object\", simplifying this step.",
		"activities": [
			{
				"name": "count_records_control_column_range",
				"description": "Sends a SELECT COUNT(*) for the table considering only control_columns's range.\n\nThis number will be later compared with the count considering the partition range.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 120,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT COUNT(*) AS count_records\nFROM @{pipeline().parameters.db_schema}.@{pipeline().parameters.table.table} \nWHERE\nCOALESCE(CONVERT(BIGINT,@{pipeline().globalParameters.mssqlserver__function__regexp_replace}(CONVERT(varchar(max), @{pipeline().parameters.table.control_column}, 121),'^0-9','@{pipeline().parameters.table.control_column_mask_value}')), CAST('@{json(pipeline().parameters.query).filters.control_column.lowerbound}' AS BIGINT))\n>= CAST('@{json(pipeline().parameters.query).filters.control_column.lowerbound}' AS BIGINT) \nAND \nCOALESCE(CONVERT(BIGINT,@{pipeline().globalParameters.mssqlserver__function__regexp_replace}(CONVERT(varchar(max), @{pipeline().parameters.table.control_column}, 121),'^0-9','@{pipeline().parameters.table.control_column_mask_value}')), CAST('@{json(pipeline().parameters.query).filters.control_column.lowerbound}' AS BIGINT))\n<= CAST(@{json(pipeline().parameters.query).filters.control_column.upperbound} AS BIGINT)",
							"type": "Expression"
						},
						"queryTimeout": "03:20:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlserver_parametrized",
						"type": "DatasetReference",
						"parameters": {
							"db_host": {
								"value": "@pipeline().parameters.db.host",
								"type": "Expression"
							},
							"db_schema": {
								"value": "@pipeline().parameters.db_schema",
								"type": "Expression"
							},
							"db_user": {
								"value": "@pipeline().parameters.db.username",
								"type": "Expression"
							},
							"keyvault_url": {
								"value": "@pipeline().parameters.keyvault_url",
								"type": "Expression"
							},
							"keyvault_secret": {
								"value": "@pipeline().parameters.db.secret",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "count_records_with_partition_range",
				"description": "Counts the records for the increment considering also the partition range.\n\nResults must be returned as \"first row\" and in a column name \"count_records\"",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 120,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\nCOUNT(*) AS count_records\nFROM @{pipeline().parameters.db_schema}.@{pipeline().parameters.table.table}\nWHERE\nCOALESCE(CONVERT(BIGINT,@{pipeline().globalParameters.mssqlserver__function__regexp_replace}(CONVERT(varchar(max), @{pipeline().parameters.table.control_column}, 121),'^0-9','@{pipeline().parameters.table.control_column_mask_value}')), CAST('@{json(pipeline().parameters.query).filters.control_column.lowerbound}' AS BIGINT))\n>= CAST('@{json(pipeline().parameters.query).filters.control_column.lowerbound}' AS BIGINT)\nAND\nCOALESCE(CONVERT(BIGINT,@{pipeline().globalParameters.mssqlserver__function__regexp_replace}(CONVERT(varchar(max), @{pipeline().parameters.table.control_column}, 121),'^0-9','@{pipeline().parameters.table.control_column_mask_value}')), CAST('@{json(pipeline().parameters.query).filters.control_column.lowerbound}' AS BIGINT))\n<= CAST('@{json(pipeline().parameters.query).filters.control_column.upperbound}' AS BIGINT)\nAND\nCAST(COALESCE(@{pipeline().parameters.table.partition_column}, '@{json(pipeline().parameters.query).filters.partition_column.lowerbound}') AS BIGINT) \n>= CAST('@{json(pipeline().parameters.query).filters.partition_column.lowerbound}' AS BIGINT) \nAND \nCAST(COALESCE(@{pipeline().parameters.table.partition_column}, '@{json(pipeline().parameters.query).filters.partition_column.lowerbound}') AS BIGINT)\n<= CAST('@{json(pipeline().parameters.query).filters.partition_column.upperbound}' AS BIGINT)",
							"type": "Expression"
						},
						"queryTimeout": "05:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlserver_parametrized",
						"type": "DatasetReference",
						"parameters": {
							"db_host": {
								"value": "@pipeline().parameters.db.host",
								"type": "Expression"
							},
							"db_schema": {
								"value": "@pipeline().parameters.db_schema",
								"type": "Expression"
							},
							"db_user": {
								"value": "@pipeline().parameters.db.username",
								"type": "Expression"
							},
							"keyvault_url": {
								"value": "@pipeline().parameters.keyvault_url",
								"type": "Expression"
							},
							"keyvault_secret": {
								"value": "@pipeline().parameters.db.secret",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "if_counts_are_equal",
				"description": "Checks if these counts are equal, wait 1 second and keep it going. This is the happy way.\n\nIf not, then raise the error. We'll later implement a table to keep these events.\n",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "count_records_with_partition_range",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "count_records_control_column_range",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('count_records_control_column_range').output.firstRow.count_records, activity('count_records_with_partition_range').output.firstRow.count_records)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "counts_before_and_after_partition_differ",
							"description": "The number of records for the increment are different before and after applying partitioning. This means you will lose records. \n\nPlease review the implementation and also the data source. Something's really wrong about it.",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Counts before and after partitioning differ",
								"errorCode": "2"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "count_records_is_ok",
							"description": "There was no record loss with partitioning.",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table": {
				"type": "object"
			},
			"query": {
				"type": "string"
			},
			"db": {
				"type": "object"
			},
			"adf": {
				"type": "object"
			},
			"watermark": {
				"type": "object"
			},
			"keyvault_url": {
				"type": "string"
			},
			"db_schema": {
				"type": "string"
			}
		},
		"folder": {
			"name": "templates/raw/bdo/mssqlserver"
		},
		"annotations": [
			"template",
			"raw",
			"sqlserver"
		]
	}
}