file_json/pipeline/wkf_fechamento_producao_ssi.json
{
	"name": "wkf_fechamento_producao_ssi",
	"properties": {
		"description": "Loads a group of tables for this business area.\n\nExpected Behavior is to fail this whole step if any of these tables fail to load.",
		"activities": [
			{
				"name": "trs_biz_fechamento_producao_ssi___failed",
				"description": "Appends \"trs_biz_fechamento_producao_ssi\" to variable \"execution_errors\"",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "biz_biz_fechamento_oficial_producao_ssi",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_errors",
					"value": "'fechamento_producao_ssi'"
				}
			},
			{
				"name": "has_error_in_completed_conditions",
				"description": "For all activities in which we evaluate \"completed\" condition, things can fail but still go on as everything was nice and smooth. To have real control over this, the vairable \"execution_errors\" is needed and now we have to check there are no real errors. \n\nIf any of the parents fail, this workflow will already fail, cause the logic clause is AND. Think about it. ",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "biz_biz_fechamento_oficial_producao_ssi",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(variables('execution_errors')), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "workflow_success",
							"description": "No errors in \"completed\" conditions found. ",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "workflow_failed",
							"description": "Using a webhook with a bad HTTP request, we can introduce errors in out pipelines when we need.\n\nYou've got errors in some \"completed\" condition.",
							"type": "WebHook",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://thisisthewaytosimuateanerrormyfriend.com/api",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"error": true
								},
								"timeout": "00:10:00"
							}
						}
					]
				}
			},
			{
				"name": "biz_biz_fechamento_oficial_producao_ssi",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "biz_biz_fechamento_oficial_sesi_producao_ssi",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "biz_biz_sesi_prod_ssi_trabalhadores_vw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "biz_biz_fechamento_oficial_producao_ssi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "biz_biz_sesi_prod_ssi_trab_vw_v2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"user_parameters": {
							"value": "@pipeline().parameters.user_parameters",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().parameters.env",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "biz_biz_sesi_prod_ssi_empresas_atendidas_vw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "biz_biz_fechamento_oficial_producao_ssi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "biz_biz_sesi_prod_ssi_empresas_atendidas_vw_v2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"user_parameters": {
							"value": "@pipeline().parameters.user_parameters",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().parameters.env",
							"type": "Expression"
						}
					}
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"env": {
				"type": "object",
				"defaultValue": {
					"env": "dev"
				}
			},
			"user_parameters": {
				"type": "object",
				"defaultValue": {
					"null": "null"
				}
			}
		},
		"variables": {
			"execution_errors": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "workflow/fechamentos/sesi"
		},
		"annotations": [
			"workflow"
		]
	}
}