file_json/pipeline/wkf__rfb_cno.json
{
	"name": "wkf__rfb_cno",
	"properties": {
		"description": "carga manual para base rais, disparada manualmente.",
		"activities": [
			{
				"name": "lnd_org_raw_rfb_cno",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "lnd_org_raw_rfb_cno",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"env": {
							"value": "@pipeline().parameters.env",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lnd_org_raw_rfb_cno",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('lnd_org_raw_rfb_cno').output.pipelineReturnValue.return, 200)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "org_raw_rfb_cno",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "org_raw_rfb_cno",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"env": {
										"value": "@pipeline().parameters.env",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "raw_trs_rfb_cno",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "org_raw_rfb_cno",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "raw_trs_rfb_cno",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"env": {
										"value": "@pipeline().parameters.env",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "trs_biz_rfb_cno",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "raw_trs_rfb_cno",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "trs_biz_rfb_cno",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"env": {
										"value": "@pipeline().parameters.env",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"env": {
				"type": "object",
				"defaultValue": {
					"env": "dev"
				}
			}
		},
		"folder": {
			"name": "workflow/oni/rfb_cno"
		},
		"annotations": []
	}
}