file_json/pipeline/workflow.json
{
	"name": "workflow",
	"properties": {
		"description": "This is the master wrapper, that is capable of handling dev, prod, homol and many other needed workflows. \n\nThe main feature of this implementation is to be able to handle SQLDW (via automation webhooks!).",
		"activities": [
			{
				"name": "workflow_dev",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "workflow_planilhas_prod",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "workflow_dev",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "workflow_prod",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "workflow_prod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "has_error_in_completed_conditions",
				"description": "For all activities in which we evaluate \"completed\" condition, things can fail but still go on as everything was nice and smooth. To have real control over this, the vairable \"execution_errors\" is needed and now we have to check there are no real errors. \n\nIf any of the parents fail, this workflow will already fail, cause the logic clause is AND. Think about it. ",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "workflow_dev",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(variables('execution_errors')), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "workflow_success",
							"description": "No errors in \"completed\" conditions found. ",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "workflow_failed",
							"description": "Using a webhook with a bad HTTP request, we can introduce errors in out pipelines when we need.\n\nYou've got errors in some \"completed\" condition.",
							"type": "WebHook",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"url": "https://thisisthewaytosimuateanerrormyfriend.com/api",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"error": true
								},
								"timeout": "00:10:00"
							}
						}
					]
				}
			},
			{
				"name": "workflow_dev__failed",
				"description": "Appends \"workflow_dev\" to variable \"execution_errors\"",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "workflow_dev",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_errors",
					"value": "'workflow_dev'"
				}
			},
			{
				"name": "workflow_prod__failed",
				"description": "Appends \"workflow_prod\" to variable \"execution_errors\"",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "workflow_prod",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_errors",
					"value": "'workflow_prod'"
				}
			},
			{
				"name": "workflow_planilhas_prod",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "workflow_prod",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "workflow_planilhas_prod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "workflow_planilhas_prod__failed",
				"description": "Appends \"workflow__planilhas_prod\" to variable \"execution_errors\"",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "workflow_planilhas_prod",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_errors",
					"value": "'workflow_planilhas_prod'"
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"env": {
				"type": "object",
				"defaultValue": {
					"env": "prod"
				}
			}
		},
		"variables": {
			"execution_errors": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "workflow"
		},
		"annotations": [
			"workflow"
		]
	}
}